html {
  box-sizing: border-box;
  font-size: 16px;
    
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
 
}

ol,
ul {
  list-style: none;
}
#notification {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #f8f8f8;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: bold;
  max-width: 300px;
  z-index: 9999;
}





.todo__container nav > h1 {
  letter-spacing: 9px;
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
}

body.dark-theme {
  background-color: #1a1a1a;
  box-shadow: none;
}

.main-app__container {
  display: flex;
  background-image: url("../assets/bg-light.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.dark-theme .main-app__container {
  background-image: url("../assets/Dark\ img.svg");
  box-shadow: none;
  
}

.todo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.todo__container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 325px; /* Set the maximum width to 325 pixels */
  width: 100%; /* Set the initial width to 100% */
  padding: 48px 0;
  color: #fff;
  font-weight: 700;
  cursor: url(../assets/mano.svg), auto;
}
.todo__container nav > h1 {
  letter-spacing: 9px;
  
}

.create-todo__container {
  display: flex;
  background-color: #ffffff;
  height: 48px;
  max-width: 327px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  align-items: center;
  background-color: white;
  cursor: url(../assets/mano.svg), auto;
}

.dark-theme .create-todo__container {
  background-color: #25273c;
  box-shadow: none;
}

.dark-theme .create-todo__container input {
  background-color: #25273c;
  box-shadow: none;
}

.create-todo__container input {
  border: none ;
  outline: none;
  cursor: url(../assets/mano.svg), auto;
  
}


/* input type checkbox */
.create-todo__container input[type="checkbox"] {
  margin-left: 20px;
  padding-right: 12px;
  width: 20px;
  height: 20px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  border: 1px solid #e3e4f1;
  border-radius: 50%;
}
/* .create-todo__container input[type='text'] placeholder text */
.create-todo__container input[type="text"]::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.166667px;
  color: #9495a5;
}

.items__container {
  background: #ffffff;
  margin-top: 16px;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-radius: 5px;
  max-width: 327px;
  width: 100%;
  height: 368px;
  overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
 color: #494C6B;
 cursor: url(../assets/mano.svg), auto;
}

.dark-theme .items__container {
  background-color: #25273c;
  box-shadow: none;
  color:#C8CBE7;
  border-color: #393A4B;
}





.control__container_desktop{
 
display: none;
}

.dark-theme .items__container {
  background-color: #25273c;
  box-shadow: none;
}

.items__container ul .example-item {
  display: none;
}

.items__container .delete-button {
  opacity: 0;
  transition: opacity 0.3s;

}

.items__container .todo-item:hover .delete-button {
  opacity: 1;
}

.delete-button {
  color: #777777;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: url(../assets/mano.svg), auto;
  font-size: 5px;
  
}

.delete-button:hover {
  color: #777777;
}

.items__container input[type="checkbox"] {
  min-width: 20px;
  height: 20px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  border: 1px solid #E3E4F1 ;
  border-radius: 50%;
  cursor: url(../assets/mano.svg), auto;
}

.items__container li > div {
  display: flex;
  align-items: center;
  gap: 12px;
}
.items__container li {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: 52px;
  align-items: center;
  border-bottom: solid 1px#E3E4F1;

}
.dark-theme .items__container li {

  border: 1px solid #393A4B;
}
.dark-theme .items__container input[type="checkbox"]{
  border: 1px solid #393A4B;
}
.dark-theme.create-todo__container input[type="checkbox"] {
    border: 1px solid #393A4B;}

.dark-theme .info__container {
  background-color: rgb(37, 39, 60);
  box-shadow: none;
  color: #5B5E7E;
}
.dark-theme .create-todo__container input[type="checkbox"] {

  border: 1px solid #393A4B;
}



.create-items__container{
  color: #767992;
}


.dark-theme .control__container ul {
  color: #5B5E7E;
}

.control__container.desktop {
  display: none;
}

.info__container {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  justify-content: space-between;
  background-color: #ffffff;
  width: 100%;
  max-width: 327px;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  font-size: 12px;
  color: #9495A5;
  cursor: url(../assets/mano.svg), auto;
}

.dark-theme .info__container {
  background-color: #25273c;
  box-shadow: none;
}

.control__container {
  display: flex;
  width: 100%;
  max-width: 327px;
  height: 48px;
  background-color: #ffffff;
  margin-top: 16px;
  justify-content: center;
  color: #9495A5;
  font-weight: 700;
  cursor: url(../assets/mano.svg), auto;
}

.dark-theme .control__container {
  background-color: #25273c;
}

.control__container ul {
  display: flex;
  gap: 19px;
  align-items: center;
  justify-content: center;
  list-style: none;
  cursor: url(../assets/mano.svg), auto;
}

.todo-item input[type="checkbox"]:checked + span {
  text-decoration-thickness: 0.1em;
  text-decoration-skip-ink: none;
  text-decoration: line-through;
}

 .todo-item input[type="checkbox"]:checked + span {
  text-decoration: line-through;
  text-decoration-color: #D1D2DA; /* Cambia el color aquí */
  font-size: 12px;
 

}
.todo-item input[type="checkbox"]:checked + span {
  color: #D1D2DA;
}

.dark-theme .todo-item input[type="checkbox"]:checked + span{
  color: #4D5067;
  font-size: 12px;
  text-decoration-color: #4D5067
}


.todo-item span{
  display: flex;
  width: 100%;
  overflow-wrap: anywhere;
  font-size: 12px;

}


.todo-item input[type="checkbox"]:checked {
  background-image: url("../assets/oval.png");
  background-size: cover;
}
.todo-item input[type="checkbox"]:checked::before {
  content: "✔";
  color: white;
  text-align: center;
  margin-left: 4px;
}

.control__container ul li {
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  cursor: url(../assets/mano.svg), auto;
 
}




.control__container ul li:hover,
.control__container ul li.active {
  color: blue;
  cursor: url(../assets/mano.svg), auto;
  
}





@media (min-width: 768px) { 



.body{
  cursor: url(../assets/mano.svg), auto;
 }
  .todo__container{
    max-width: 540px;
    width: 100%;
  }
  
  .items__container {
   
    max-width: 540px;
    width: 100%;
    height: 439px;
   
  }
  
  .todo__container nav > h1 {
    letter-spacing: 9px;
    font-weight: 700;
    font-size: 34px;
   
}

  .info__container{
    max-width: 540px;
    width: 100%;
  font-size: 14px;
   

  }
  .todo__container nav {
   
    max-width: 570px; /* Set the maximum width to 325 pixels */
    width: 100%; /* Set the initial width to 100% */
    font-size: 32px;
  }
 
  .create-todo__container {
    max-width: 570px; /* Set the maximum width to 325 pixels */
    width: 100%; /* Set the initial width to 100% */
   
  }
  
  .control__container{
    position: absolute;
    display: flex;
    width: 100%;
    background-color: transparent;
    margin-top: 607px;
    justify-content: center;
    
  }

  

  .todo-item input[type="checkbox"]:checked + span {
    
    font-size: 10px;
}


  .main-app__container {
    background-image:  url("../assets/Bitmap.png");
  background-position-y: center;
  }
  .dark-theme .main-app__container{
    background-image: url("../assets/bg-desktop-dark.jpg");
   
  }

  .dark-theme .control__container {
    background-color:transparent;

  }

.info__container {
   
    padding: 0 8px;
   
}
.todo-item span {
  display: flex;
  width: 100%;
  overflow-wrap: anywhere;
  font-size: 17px;
}

.todo__container nav {
 
  padding: 30px 0;
  
}


.todo-item input[type="checkbox"]:checked + span {

  font-size: 18px;
}
.dark-theme .todo-item input[type="checkbox"]:checked + span {

  font-size: 18px;
}
.delete-button{
  font-size: 30px;
}

}